services/SRV40074-productCatalog/src/main/resources/wsdl/productOffering.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.wom.cl/wom/neg/productcatalogmanagement/productoffering/v/1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="productOffering" targetNamespace="http://ws.wom.cl/wom/neg/productcatalogmanagement/productoffering/v/1">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ws.wom.cl/wom/neg/productcatalogmanagement/productoffering/v/1">
      <xsd:element name="productOffering">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="offerId" type="xsd:string" />
          	<xsd:element name="shortDesc" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="productOfferingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="productOffering" type="tns:ProductOffering"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="ProductOffering">
      	<xsd:sequence>
      		<xsd:element name="layoutTypeAPP" type="xsd:string"></xsd:element>
      		<xsd:element name="isSellable" type="xsd:string"></xsd:element>
      		<xsd:element name="shortDescription" type="xsd:string"></xsd:element>
      		<xsd:element name="version" type="xsd:string"></xsd:element>
      		<xsd:element name="familyOffer" type="xsd:string"></xsd:element>
      		<xsd:element name="typeOffer" type="xsd:string"></xsd:element>
      		<xsd:element name="lastUpdate" type="xsd:string"></xsd:element>
      		<xsd:element name="name" type="xsd:string"></xsd:element>
      		<xsd:element name="offerId" type="xsd:string"></xsd:element>
      		<xsd:element name="recurringCharge" type="tns:recurringChargeType">
      		</xsd:element>
      		<xsd:element name="marketSegment" type="xsd:string"></xsd:element>
      		<xsd:element name="status" type="xsd:string"></xsd:element>
      		<xsd:element name="bundleProductOffering" minOccurs="0" maxOccurs="unbounded" type="tns:bundleProductOffering">
      		</xsd:element>      		
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="bundleProductOffering">
      	<xsd:sequence>
      		<xsd:element name="minimumRequired" type="xsd:string"></xsd:element>
      		<xsd:element name="quantity" type="xsd:string"></xsd:element>
      		<xsd:element name="unitOfMeasure" type="xsd:string"></xsd:element>
      		<xsd:element name="isPromotionProduct"
      			type="xsd:string">
      		</xsd:element>
      		<xsd:element name="channel" type="tns:channel"></xsd:element>
      		<xsd:element name="isOfferProduct" type="xsd:string"></xsd:element>
      		<xsd:element name="description" type="xsd:string"></xsd:element>
      		<xsd:element name="isOptionProduct" type="xsd:string"></xsd:element>
      		<xsd:element name="oneTime" type="tns:oneTime"></xsd:element>
      		<xsd:element name="priority" type="xsd:string"></xsd:element>
      		<xsd:element name="unitType" type="xsd:string"></xsd:element>
      		<xsd:element name="name" type="xsd:string"></xsd:element>
      		<xsd:element name="offerId" type="xsd:string"></xsd:element>
      		<xsd:element name="shDes" type="xsd:string"></xsd:element>
      		<xsd:element name="id" type="xsd:string"></xsd:element>
      		<xsd:element name="maximunAllowed" type="xsd:string"></xsd:element>
      		<xsd:element name="recurringCharge"
      			type="tns:recurringCharge">
      		</xsd:element>
      		<xsd:element name="status" type="xsd:string"></xsd:element>
      		<xsd:element name="occ" type="xsd:string"></xsd:element>
      		<xsd:element name="sku" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="recurringChargeType">
      	<xsd:sequence>
      		<xsd:element name="amount" type="xsd:string"></xsd:element>
      		<xsd:element name="unitOfMeasure" type="xsd:string"></xsd:element>
      		<xsd:element name="currency" type="xsd:string"></xsd:element>
      		<xsd:element name="type" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      
            <xsd:complexType name="productOfferingType"></xsd:complexType>
        
            <xsd:complexType name="channel">
            	<xsd:sequence>
            		<xsd:element name="legacySystem" type="xsd:string"></xsd:element>
            		<xsd:element name="name" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="oneTime">
            	<xsd:sequence>
            		<xsd:element name="duration" type="xsd:string"></xsd:element>
            		<xsd:element name="amount" type="xsd:string"></xsd:element>
            		<xsd:element name="unitOfMeasure"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="currency" type="xsd:string"></xsd:element>
            		<xsd:element name="type" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="recurringCharge">
            	<xsd:sequence>
            		<xsd:element name="amount" type="xsd:string"></xsd:element>
            		<xsd:element name="unitOfMeasure"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="currency" type="xsd:string"></xsd:element>
            		<xsd:element name="type" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
        
            <xsd:complexType name="deviceOffering">
            	<xsd:sequence>
            		<xsd:element name="modality" type="xsd:string"></xsd:element>
            		<xsd:element name="cost" type="xsd:string"></xsd:element>
            		<xsd:element name="shDes" type="xsd:string"></xsd:element>
            		<xsd:element name="offerId" type="xsd:string"></xsd:element>
            		<xsd:element name="sku" type="xsd:string"></xsd:element>
            		<xsd:element name="deviceName" type="xsd:string"></xsd:element>
            		<xsd:element name="partNum" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="NewOperation">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="in" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="NewOperationResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            
            
            <xsd:element name="productOfferingFault">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="faultcode" type="xsd:int">
            			</xsd:element>
            			<xsd:element name="faultstring"
            				type="xsd:string">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="productOfferingRequest">
    <wsdl:part element="tns:productOffering" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="productOfferingResponse">
    <wsdl:part element="tns:productOfferingResponse" name="parameters"/>
  </wsdl:message>


  <wsdl:message name="productOfferingFault">
  	<wsdl:part name="parameters" element="tns:productOfferingFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="productOffering">
    <wsdl:operation name="productOffering">
      <wsdl:input message="tns:productOfferingRequest"/>
      <wsdl:output message="tns:productOfferingResponse"/>
            
            <wsdl:fault name="fault" message="tns:productOfferingFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="productOfferingSOAP" type="tns:productOffering">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="productOffering">
      <soap:operation soapAction="http://0.0.0.0:8888/ocp/srv40074/productoffering/soap/v1.0"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="productOffering">
    <wsdl:port binding="tns:productOfferingSOAP" name="productOfferingSOAP">
      <soap:address location="http://0.0.0.0:8888/ocp/srv40074/productoffering/soap/v1.0"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
