SRV40011-AutoProvision VoLTE/AutoProvisionVoLTE.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.webservices.pos.nextel.cl.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AutoProvisionVoLTE" targetNamespace="http://ws.webservices.pos.nextel.cl.com">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ws.webservices.pos.nextel.cl.com">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AutoProvisioningType" type="xsd:int"/>
            <xsd:element name="IMSI" type="xsd:int"/>
            <xsd:element name="MSISDN" type="xsd:int"/>
              <xsd:element name="SRVCC-Capability" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="AutoProvisionVoLTE">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoProvisionVoLTESOAP" type="tns:AutoProvisionVoLTE">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://ws.webservices.pos.nextel.cl.com/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoProvisionVoLTE">
    <wsdl:port binding="tns:AutoProvisionVoLTESOAP" name="AutoProvisionVoLTESOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
