SRV40011-AutoProvision VoLTE/AutoProvisionVoTE.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.webservices.pos.nextel.cl.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AutoProvisionVoTE" targetNamespace="http://ws.webservices.pos.nextel.cl.com">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ws.webservices.pos.nextel.cl.com">
      <xsd:element name="registraTx">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registraTxResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="registraTxRequest">
    <wsdl:part element="tns:registraTx" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="registraTxResponse">
    <wsdl:part element="tns:registraTxResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="AutoProvisionVoTE">
    <wsdl:operation name="registraTx">
      <wsdl:input message="tns:registraTxRequest"/>
      <wsdl:output message="tns:registraTxResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoProvisionVoTESOAP" type="tns:AutoProvisionVoTE">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registraTx">
      <soap:operation soapAction="http://ws.webservices.pos.nextel.cl.com/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoProvisionVoTE">
    <wsdl:port binding="tns:AutoProvisionVoTESOAP" name="AutoProvisionVoTESOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
