services/SRV40049-activaVoLTE/src/main/resources/wsdl/activateVoLTE.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.wom.cl/wom/neg/serviceordermanagement/activavolte/v/1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="activateVoLTE" targetNamespace="http://ws.wom.cl/wom/neg/serviceordermanagement/activavolte/v/1">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ws.wom.cl/wom/neg/serviceordermanagement/activavolte/v/1">
      <xsd:element name="activateVoLTE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="param" type="tns:param"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="activateVoLTEResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="tns:return"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="param">
      	<xsd:sequence>
      		<xsd:element name="msisdn" type="xsd:string"></xsd:element>
      		<xsd:element name="imsi" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="return">
      	<xsd:sequence>
      		<xsd:element name="cod_error" type="xsd:int"></xsd:element>
      		<xsd:element name="msg_error" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="activateVoLTERequest">
    <wsdl:part element="tns:activateVoLTE" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="activateVoLTEResponse">
    <wsdl:part element="tns:activateVoLTEResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="activateVoLTE">
    <wsdl:operation name="activateVoLTE">
      <wsdl:input message="tns:activateVoLTERequest"/>
      <wsdl:output message="tns:activateVoLTEResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="activateVoLTESOAP" type="tns:activateVoLTE">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="activateVoLTE">
      <soap:operation soapAction="http://ws.wom.cl/wom/neg/serviceordermanagement/activavolte/v/1/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="activateVoLTE">
    <wsdl:port binding="tns:activateVoLTESOAP" name="activateVoLTESOAP">
      <soap:address location="http://0.0.0.0:8888/ocp/srv40049-1-0/soap/activavolte"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>