services/SRV40065-applyCarrierBillingCharge/src/main/resources/velocity/PSBookingRequestWrite.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions targetNamespace="http://www.lhsgroup.com/ws_v2_NII_1" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.lhsgroup.com/ws_v2_NII_1" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.lhsgroup.com/ws_v2_NII_1" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.lhsgroup.com/ws_v2_NII_1" xmlns:intf="http://www.lhsgroup.com/ws_v2_NII_1" xmlns:tns1="http://xml.apache.org/axis/wsdd/providers/java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://xml.apache.org/axis/wsdd/providers/java"/>
      <xsd:complexType name="BaseSOIBean">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:complexType name="MoneyBean">
        <xsd:complexContent>
          <xsd:extension base="impl:BaseSOIBean">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="amount" nillable="true" type="xsd:double"/>
              <xsd:element minOccurs="0" name="currency" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DateTimeBean">
        <xsd:complexContent>
          <xsd:extension base="impl:BaseSOIBean">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="date" nillable="true" type="xsd:dateTime"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DateBean">
        <xsd:complexContent>
          <xsd:extension base="impl:BaseSOIBean">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="date" nillable="true" type="xsd:dateTime"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BookingRequestWriteBeanIn">
        <xsd:complexContent>
          <xsd:extension base="impl:BaseSOIBean">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="actionCode" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="adjIdPub" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="amount" nillable="true" type="impl:MoneyBean"/>
              <xsd:element minOccurs="0" name="amountRel" nillable="true" type="xsd:double"/>
              <xsd:element minOccurs="0" name="basePartId" nillable="true" type="xsd:int"/>
              <xsd:element minOccurs="0" name="billFormat" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="billingAccountCode" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="billingAccountId" nillable="true" type="xsd:long"/>
              <xsd:element minOccurs="0" name="callDate" nillable="true" type="impl:DateTimeBean"/>
              <xsd:element minOccurs="0" name="chargePartId" nillable="true" type="xsd:int"/>
              <xsd:element minOccurs="0" name="coId" nillable="true" type="xsd:long"/>
              <xsd:element minOccurs="0" name="coIdPub" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="csId" nillable="true" type="xsd:long"/>
              <xsd:element minOccurs="0" name="csIdPub" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="devicenum" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="dirnum" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="eventCode" nillable="true" type="xsd:long"/>
              <xsd:element minOccurs="0" name="feeClass" nillable="true" type="xsd:int"/>
              <xsd:element minOccurs="0" name="feeType" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="fuNum" nillable="true" type="xsd:double"/>
              <xsd:element minOccurs="0" name="fuPackId" nillable="true" type="xsd:int"/>
              <xsd:element minOccurs="0" name="fuPackIdPub" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="fuPkelsq" nillable="true" type="xsd:int"/>
              <xsd:element minOccurs="0" name="fuPkver" nillable="true" type="xsd:int"/>
              <xsd:element minOccurs="0" name="fuVer" nillable="true" type="xsd:int"/>
              <xsd:element minOccurs="0" name="glcode" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="glcodedisc" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="glcodemin" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ivId" nillable="true" type="xsd:long"/>
              <xsd:element minOccurs="0" name="jobcost" nillable="true" type="xsd:long"/>
              <xsd:element minOccurs="0" name="jobcostPub" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="jobcostdisc" nillable="true" type="xsd:long"/>
              <xsd:element minOccurs="0" name="jobcostdiscPub" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="jobcostmin" nillable="true" type="xsd:long"/>
              <xsd:element minOccurs="0" name="jobcostminPub" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="numPeriods" nillable="true" type="xsd:int"/>
              <xsd:element minOccurs="0" name="periodicityType" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="recordId" nillable="true" type="xsd:long"/>
              <xsd:element minOccurs="0" name="recordSubId" nillable="true" type="xsd:int"/>
              <xsd:element minOccurs="0" name="remark" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="rpVscode" nillable="true" type="xsd:long"/>
              <xsd:element minOccurs="0" name="rpcode" nillable="true" type="xsd:long"/>
              <xsd:element minOccurs="0" name="rpcodePub" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="rsCode" nillable="true" type="xsd:long"/>
              <xsd:element minOccurs="0" name="seqno" nillable="true" type="xsd:long"/>
              <xsd:element minOccurs="0" name="servCode" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="servType" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="servcatCode" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="sncode" nillable="true" type="xsd:long"/>
              <xsd:element minOccurs="0" name="sncodePub" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="spcode" nillable="true" type="xsd:long"/>
              <xsd:element minOccurs="0" name="spcodePub" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="validFrom" nillable="true" type="impl:DateBean"/>
              <xsd:element minOccurs="0" name="validTo" nillable="true" type="impl:DateTimeBean"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com.lhs.ws.beans.v2_NII_1.session_change.ValuesBeanIn">
        <xsd:complexContent>
          <xsd:extension base="impl:BaseSOIBean">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="key" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfcom.lhs.ws.beans.v2_NII_1.session_change.ValuesBeanIn">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:com.lhs.ws.beans.v2_NII_1.session_change.ValuesBeanIn"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SessionChangeBeanIn">
        <xsd:complexContent>
          <xsd:extension base="impl:BaseSOIBean">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="values" nillable="true" type="impl:ArrayOfcom.lhs.ws.beans.v2_NII_1.session_change.ValuesBeanIn"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="BookingRequestWrite" type="tns1:com.lhs.ws.beans.v2_NII_1.BookingRequestWriteBeanServiceIn"/>
      <xsd:complexType name="BookingRequestWriteBeanOut">
        <xsd:complexContent>
          <xsd:extension base="impl:BaseSOIBean">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="occId" nillable="true" type="xsd:long"/>
              <xsd:element minOccurs="0" name="error_code" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="err_description" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="BookingRequestWriteReturn" type="impl:BookingRequestWriteBeanOut"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/axis/wsdd/providers/java" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.lhsgroup.com/ws_v2_NII_1" xmlns:intf="http://www.lhsgroup.com/ws_v2_NII_1" xmlns:tns1="http://xml.apache.org/axis/wsdd/providers/java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.lhsgroup.com/ws_v2_NII_1"/>
      <xsd:complexType name="com.lhs.ws.beans.v2_NII_1.BookingRequestWriteBeanServiceIn">
        <xsd:complexContent>
          <xsd:extension base="impl:BaseSOIBean">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="input" nillable="true" type="impl:BookingRequestWriteBeanIn"/>
              <xsd:element minOccurs="0" name="sessionChange" nillable="true" type="impl:SessionChangeBeanIn"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="executeResponse">
    <WL5G3N0:part element="WL5G3N1:BookingRequestWriteReturn" name="BookingRequestWriteReturn"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="executeRequest">
    <WL5G3N0:part element="WL5G3N1:BookingRequestWrite" name="BookingRequestWrite"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="BookingRequestWriteService">
    <WL5G3N0:operation name="execute" parameterOrder="BookingRequestWrite">
      <WL5G3N0:input message="WL5G3N1:executeRequest" name="executeRequest"/>
      <WL5G3N0:output message="WL5G3N1:executeResponse" name="executeResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="BookingRequestWriteServiceSoapBinding" type="WL5G3N1:BookingRequestWriteService">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="execute">
      <WL5G3N2:operation/>
      <WL5G3N0:input name="executeRequest">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="executeResponse">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="BookingRequestWriteServiceSoapBindingQSService">
    <WL5G3N0:port binding="WL5G3N1:BookingRequestWriteServiceSoapBinding" name="BookingRequestWriteServiceSoapBindingQSPort">
      <WL5G3N2:address location="http://10.120.156.99:9303/esb/3GBSCS/Services/PSBookingRequestWrite"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>